ground_truth_dataset/Grocery_and_Gourmet_Food_5.json filter=lfs diff=lfs merge=lfs -text
295B/RAGAs_Evaluation/2_venv_deepaval/lib/python3.10/site-packages/pyarrow/libarrow.so.1700 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.so.1700 filter=lfs diff=lfs merge=lfs -text
